body{
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
}

li{
    float: left;
}

li a{
    display: block;
    padding: 8px;
    background-color: black;
    color: white;
}
