#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #00FFFF;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
#myBtn:hover {
  background-color: #555;
}
h1, h4, h5{
  font-weight: bold;
}
header{
  padding-left: 12px;
}
#navbar {
display: block;
padding: 8px;
margin: auto;
width: 75%;
background-color: #000000;
}
#Walter{
color: white;
}
body{
background-image: url("../../img/background-image.png");
background-attachment: fixed;
}
#Content{
margin: auto;
width: 75%;
background-color: #00FFFF;
}
#Logo{
size: 10px;
}
#Footer{  /* "De azért legyünk má igényesek!" - Menczel Balázs, 2022 */
  margin: auto;
  width: 75%;
  background-color: #000000;
}

/* Made by Menczel Balázs */