#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #00FFFF;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
li {
  display: inline;
}
#navbar {
  display: block;
  padding: 8px;
  background-color: #006600;
}
#Walter{
  color: white;
}
body{
  background-color: #66FF66;
}
li{
  display: list-item;
  list-style-position: inside;
}
ul{
  list-style-type: disc;
}
/* Made by Gyányi Dániel */